
<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <hr>
        </div>
        <div class="col-auto">Menú</div>
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Titulo</h4>
                    <p class="card-category">SubTitulo </p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                
                            </div>
                            <button class="btn_action" id="act" mat-raised-button color="warn"
                            (click)="guardar()" >Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>